body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock-container {
  position: relative;
  border: 2px solid teal;
  margin: auto;
  height: 40vw;
  width: 40vw;
  background: url(clock.png) no-repeat;
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom center;
}

#hour {
  width: 2%;
  height: 33%;
  top: 17%;
  left: 49.2%;
  opacity: 0.8;
  /* display: none; */
}
#minute {
  width: 2%;
  height: 40%;
  top: 10%;
  left: 49.2%;
  opacity: 0.8;
  /* display: none; */
}
#second {
  width: 0.6%;
  height: 37%;
  top: 13%;
  left: 49.2%;
  opacity: 0.8;
  background-color: teal;
  /* display: none; */
}


.digital-clock-container{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  font-family: cursive;
  font-size: 2rem;
  max-width: 10rem;
} 

#d-minute::before, #d-second::before{
  content: ':';
}
